.heading{
    margin: 10px 0 0 0;
    font-size: 40px;
}
.content{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sidebar{
    min-width: 500px;
}
.sidebar-donor{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paypal-payment{
    width: 90%;
    margin: 0 auto;
    background-color: var(--white);
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0;
}
.form-donor{
    width: 100%;
    display: flex;
    gap: 50px;
    margin: 30px 0;
}
.field-sidebar{
    width: 90%;
    margin: 0 auto;
}
.content-donor-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notes{
    font-size: 12px;
    margin: 0;
    color: var(--dark-gray);
}
.asignments{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.asignment{
    display: flex;
    gap: 10px;
    align-items: center;

    padding: 0 10px;
    border-radius: 5px;
    background-color: var(--light-gray);
}
.projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.asignment:hover{
    cursor: pointer;
    background-color: var(--gray);
}
.asignment label{
    flex: 1;
    margin: 5px 0;
}
.asignment.active{
    background-color: var(--blue);
    color: var(--white);
}
.amounts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.amount{
    cursor: pointer;
    margin: 0;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    font-size: 26px;
    height: 100%;
}
.amount:hover{
    border: 1px solid var(--blue);
}
.other-amount{
    font-size: 20px;
}
.field{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px; 
}
.field label{
    font-size: 14px;
}
.field input, .field select, .field textarea{
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    font-family: inherit;
    color: var(--black);
}
.field textarea{
    resize: none;
    min-height: 100px;
    max-height: 200px;
}
.methods{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.method{
    cursor: pointer;
    margin: 0;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    font-size: 20px;
    height: 100%;
}
.method:hover{
    border: 1px solid var(--blue);
}
.submit{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.submit-button{
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.selected{
    color: var(--white);
    background-color: var(--blue);
}
.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.loading{
    opacity: 0.5;
}