.project{
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.project p{
    margin: 0;
}
.type{
    font-size: 10px;
    text-transform: uppercase;
    color: var(--dark-gray);
}
.name-desc{
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: flex-start;
}
.name{
    font-size: 26px;
    font-weight: 600;


    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    
    position: relative;
}
.description{
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-gray);

    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    
    position: relative;
}
.name::after, .description::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, var(--white) 95%, var(--white) 100%);
}
.since{
    font-size: 10px;
    color: var(--dark-gray);
}
.since span{
    font-weight: 600;
    color: var(--black);
}
.right{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.graphs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}