.body{
    display: flex;
    flex-direction: column;   
    background-color: var(--background);
    height: 100%;
}
.header{
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.main{
    padding: 20px 50px;
    flex: 1;
}