<div class="header">
    <img src="cid:logo-sanders" alt="Logo Sanders">
</div>
<h1 class="heading">Bienvenido a la Fundación Sanders</h1>

<div class="body">
    <p class="hey">¡Hola, {{name}}!</p>

    <div class="text">
        <p>La Fundación Sanders te da la bienvenida. Agradecemos que hayas tenido interés en aportar a la fundación y contribuir a la mejora de la calidad de vida en grupos sociales en situación de vulnerabilidad.</p>
        <p>Tu registro está casi listo, únicamente hace falta confirmar tu cuenta. Para ello por favor da click en el siguiente botón:</p>
    </div>

    <div class="button-div">
        <a class="button" href="{{url}}">Confirmar Cuenta</a>
    </div>

    <div class="text">
        <p>Una vez confirmada, tendrás acceso a nuestra plataforma donde podrás ver proyectos, hacer donaciones y mucho más.</p>
    </div>

    <div class="bye">
        <p>¡Gracias por tu apoyo!</p>
    </div>

    <div class="atte">
        <p>Atentamente,</p>
        <p>Fundación Sanders</p>
    </div>


    <div class="actions">
        <p>Si no puedes ver este correo, visita: <a href="{{url}}">{{url}}</a></p>
        <p>Si no solicitaste tu registro en Sanders.com.mx, por favor ignora este correo.</p>
    </div>
</div>
