<div class="header">
    <img src="cid:logo-sanders" alt="Logo Sanders">
</div>
<h1 class="heading">El Proyecto Sigue Avanzado</h1>

<div class="body">
    <p class="hey">¡Hola, {{name}}!</p>

    <div class="text">
        <p>Queremos compartir contigo una <strong>gran noticia:</strong> el proyecto <strong>{{project}}</strong>, al que contribuiste, ha avanzado a la siguiente etapa.</p>
        <p>Actualmente, hemos alcanzado el <span>{{percentage}}%</span> de progreso del proyecto, gracias a tu apoyo y al de otros donadores.</p>
        <p>Tu contribución sigue siendo fundamental para el éxito de este proyecto, y queremos que sigas siendo parte de este progreso.</p>
    </div>

    <div class="text">
        <p>******* mostrar más detalles del proyecto ******</p>
    </div>

    <div class="button-div">
        <a class="button" href="{{url}}">Ver Proyecto</a>
    </div>

    <div class="bye">
        <p>¡Gracias por estar con nosotros en cada paso!</p>
    </div>

    <div class="atte">
        <p>Atentamente,</p>
        <p>Fundación Sanders</p>
    </div>


    <div class="actions">
        <p>Si no realizaste una donación en Sanders.com.mx, por favor ignora este correo.</p>
    </div>
</div>
