<div class="header">
    <img src="cid:logo-sanders" alt="Logo Sanders">
</div>
<h1 class="heading">Recupera tu Acceso</h1>

<div class="body">
    <p class="hey">Estimado, {{name}}</p>

    <div class="text">
        <p>Recibimos una solicitud para restablecer tu contraseña. Si fuiste tú, por favor haz clic en el siguiente botón para continuar el proceso.</p>
    </div>

    <div class="button-div">
        <a class="button" href="{{url}}">Reestablecer contraseña</a>
    </div>

    <div class="atte">
        <p>Atentamente,</p>
        <p>Fundación Sanders</p>
    </div>


    <div class="actions">
        <p>Si no puedes ver este correo, visita: <a href="{{url}}">{{url}}</a></p>
        <p>Si no solicitaste tu cambiar tu contraseña en Sanders.com.mx, por favor ignora este correo.</p>
    </div>
</div>
