@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
.header{
    background-color: #191f6d;
    min-height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
    height: 50px;
}
.heading{
    text-align: center; 
    font-size: 32px;
    margin: 30px 0;
}
.body{
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hey{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}
.text, .bye, .atte{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.text p, .bye p, .atte p{
    margin: 0;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 5px 10px;
    background-color: #191f6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 0;
}
.actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    margin: 30px 0;
}
.actions p{
    margin: 0;
    text-align: center;
}
.actions a{
    text-decoration: none;
    color: #191f6d;
    font-weight: 600;
}