.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 20px 0;
}
.search{
    position: relative;
}
.search input{
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 10px;
    font-size: 16px;
    min-width: 300px;
    padding: 5px 5px 5px 30px;
}
.search svg{
    position: absolute;
    left: 7px;
    top: 50%;
    width: 20px;
    transform: translateY(-50%);
    fill: var(--gray);
}
.create-export{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.create{
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;

    display: flex;
    align-items: center;
}
.create:hover{
    background-color: var(--primary);
}
.create svg{
    fill: var(--white);
    width: 20px;
}
.donate-now{
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
}